body{
    margin: 0;
    background: #F9A825;
}
.section1{
    background: #F9A825;

}

.navbar .navbar-nav{
    color: white;
}
.select_version{
    font-family: 'Clash Display', sans-serif;
    border-bottom: 7px solid black;
    border-top: 7px solid black;
}

.background{
    background-color: #F9A825;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section_ms_ios{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.section_bottom_text{
    font-family: 'Satoshi', sans-serif;
    text-align: center;
}
.polki_section_bottom{
    display: flex;
    align-items: end;
}
.navbar .navbar-nav .nav-item .nav-link{
    color: white;
    font-family: 'Satoshi', sans-serif;
    transition: color .2s;
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    color: #F9A825;
}

.left-container{
    background: url("../images/Без имени-29-восстановлено 2.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    max-width: 1920px;
    max-height: 770px;

}
.background-section2{
    background-color: #121212;
    height: 90vh;
}
.system-requirements{
    font-family: 'Clash Display', sans-serif;
    color: white;
}
.para_system_requirements{
    font-family: 'Satoshi', sans-serif;
    color: white;
}
.table_container{
    background-color: #3E3E3E;
}
.table_head{
    font-family: 'Satoshi', sans-serif;
    color: #F9A825;
    font-size: 24px;
}
.table_body{
    font-family: 'Satoshi', sans-serif;
    font-size: 18px;
}
.table_requirements{
    color: #9E9E9E;
}
.table_performance{
    color: white;
}

.icon_bottom_text1{
    background-color: black;
    padding-top: 50px;
    margin-top: 50px;
}
.bottom_text1{
    justify-content: space-between;
    align-items: center;
}
.container_footer {
    font-family: 'Clash Display', sans-serif;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid white;
}
.text1__1{
    font-size: 30px;
    font-weight: 700;
}
.text1__2{
    font-size: 44px;
    font-weight: 700;
}
.bottom_logo{
    display: flex;
    justify-content: right;
}
.bottom_logo_size{
    width: 150px;
    height: 150px;
}
.social_media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0 25px 0;
}
.container__photo{
    margin-left: 25px;
}
.social_icons{
    display: flex;
    justify-content: space-between;
}
.text_bottom2{
    display: flex;
    color: white;
    font-family: 'Clash Display', sans-serif;
    font-size: 25px;
}
.last_bottom_text{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Clash Display', sans-serif;
    font-size: 11px;
    margin-top: 25px;
}
.container__picture__logo{
    height: 30px;
}
@media only screen and (max-width: 553px) {
    .text1__1, .text1__2 {display: none;}

}