body
{
    margin: 0;
    background-color: black;
}
*,*:after,*:before
{
    box-sizing: border-box;
}
.h1,h2,h3,h4,h5,h6
{
    margin: 0;
}
.intro
{
    width: 100%;
    max-width: 1920px;
    max-height: 770px;
    height: 100vh;
    background: url("../images/main__background.png") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}
.intro__title
{
    max-width: 1200px;
    width: 100%;
    margin: 300px auto 200px;
    display: flex;
}
.play__button
{
    display: flex;
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    justify-content: right;
    transition: color linear .2s;
}
.play__button:hover
{
    opacity: 0.6;
}
.container
{
    width: 100%;
    max-width: 1300px;
    padding-top: 40px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}

.header
{
    width: 100%;
    position: absolute;
    z-index: 1000;
}
.header__logo
{
    display: flex;
}
.header__inner
{
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.telegram__logo
{
    width: 100%;
    max-width: 90px;
    margin: 0;
    align-items: center;
    display: flex;
    transition: color linear .2s;
}
.telegram__logo:hover
{
    opacity: 0.6;
}
.talks__def__containers:hover
{
    opacity: 0.6;
    text-decoration: none;
    color: black;


}
.talks__def_containers:visited{
    text-decoration: none;
    color: black;

}
.nav
{
    font-size: 16px;
    text-transform: uppercase;
    color: #f9a825;
    justify-content: center;
}
.nav__link
{
    text-decoration: none;
    font-family: 'Satoshi', sans-serif;
    color: #f9a825;
    transition: color .2s linear;
    display: inline-block;
    vertical-align: top;
    margin: 15px;

}
.nav__link:hover
{
    color: #FFFFFF;
    opacity: 1;
}
.first__section
{
    width: 100%;
    max-width: 1920px;
    max-height: 770px;
    height: 100vh;
    background-color: #f9a825;
    background-size: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}
.orange__container
{
    width: 100%;
    max-width: 600px;
    padding-top: 50px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}
.section__container
{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.text__container
{
    padding-top: 70px;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    font-family: 'Clash Display', sans-serif;
    font-size: 45px;
    line-height: 60px;
    color: #FFFFFF;
    text-shadow: 3px 3px 3px black;

}
.img__container
{
    width: 100%;
    max-width: 500px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flash__container
{
    width: 100%;
    max-width: 200px;
    max-height: 350px;
    height: 100%;
    padding-top: 80px;
    display: flex;
}
.text2__container
{
    width: 100%;
    max-width: 1400px;
    justify-content: right;
}
.container2
{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;

    color: #FFFFFF;
}
.break
{
    flex-basis: 100%;
    height: 0;
}
.section2
{
    width: 100%;
    max-width: 1920px;
    max-height: 770px;
    height: 100vh;
    background-color: black;
    background-size: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}
.video
{
    width: 100%;
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
}
.section3
{
    width: 100%;
    max-width: 1920px;
    height:1400px;
    background:  url("../images/insideaitutalksbackground.png") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}
.section3__main
{
    padding-top: 50px;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}
.section3__secondary
{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}
.section3__logo__text
{
    max-width: 600px;
    width: 100%;
    font-family: 'Clash Display', sans-serif;
    color: #FFFFFF;
    font-size: 100px;
    padding-top: 50px;
    display: flex;
}
.section3__logo__img
{
    margin: 40px auto 0;
    max-height: 210px;
    height: 100%;
    max-width: 420px;
    width: 100%;
    background: url("../images/talks.png");
    background-size: cover;
    display: flex;
    justify-content: center;
}
.section3__logo__img__text
{
    padding-top: 15px;
    max-width: 220px;
    width: 100%;
    font-family: 'Clash Display', sans-serif;
    color: #FFFFFF;
    font-size: 95px;
    margin: 0 auto;
}

.blue__talks__container
{
    max-width: 320px;
    width: 100%;
    height: 400px;
    background-color:#24C5F9;
    margin-top: 60px;
    margin-right:40px;
    justify-content: center;
    transition:color .2s linear;
    text-decoration: none;
color: black;
}
.blue__talks__container:hover
{
    opacity: 0.6;
    text-decoration: none;
    color: black;

}
.blue__talks__container:visited{
    text-decoration: none;
    color: black;

}

.talks__main__container
{
    max-width: 720px;
    width: 100%;
    height: 400px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}
.talks__def__containers
{
    max-width: 320px;
    width: 100%;
    height: 190px;
    background-color: #D3DFE3;
    justify-content: center;
    transition:color .2s linear;
    margin-top: 20px;
    margin-right: 40px;
    text-decoration: none;
color: black;
}
.talks__def__containers:hover
{
    opacity: 0.6;
}

.talks__def__containers__down
{
    max-width: 320px;
    width: 100%;
    height: 190px;
    background-color: #D3DFE3;
    margin-top: 20px;
    justify-content: center;
    transition:color .2s linear;
    color: black;
    text-decoration: none;
}
.talks__def__containers__down:hover
{
    opacity: 0.6;
    color: black;
    text-decoration: none;
}
.talks__top__text
{
    max-width: 290px;
    font-family: 'Clash Display', sans-serif;
    font-size: 16px;
    margin: 20px 20px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.talks__center__text
{
    max-width: 290px;
    font-family: 'Clash Display', sans-serif;
    font-size: 22px;
    margin:20px 20px;
}
.section4
{
    width: 100%;
    max-width: 1920px;
    background-color: #323336;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 1000px;
    background-size: auto;
}
.section5
{
    width: 100%;
    max-width: 1920px;
    background-color: #323336;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 850px;
    background-size: auto;
}
.section4__main
{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.section4__main__text
{
    width: 100%;
    max-width: 1080px;
    font-family: 'Clash Display', sans-serif;
    color: #F9A825;
    font-size: 85px;
    text-shadow: 2px 2px black;
    margin: 55px 0;
}
.section4__main__img
{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.section4__lev__strelka
{
    max-width: 100px;
    width: 100%;
    margin: 200px 0;
}
.section4__main__back
{
    max-width: 1080px;
    width: 100%;
    margin:0 10px ;
}
.section4__prav__strelka
{
    max-width: 100px;
    width: 100%;
    margin: 200px 0;
}
.bottom_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    width: 100%;
    max-width: 1920px;
    height: 470px;
    background-color: #000000;
    background-size: auto;
    margin: 0 auto;
}

.intro__down{
    display: flex;
    width: 100%;
    height: 474px;
    background-size: auto;
    background-color: #000000;
}

.icon_bottom_text1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 7px solid white;
}

.text1__1{
    display: flex;
    color: white;
    font-size: 24px;
    font-family: 'Clash Display', sans-serif;
}

.text1__2{
    display: flex;

    color: white;
    font-family: 'Clash Display', sans-serif;
    font-size: 47px;
}


.social_media{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.social_icons{
    display: flex;
    justify-content: space-between;
}


.text_bottom2{
    margin: 0 0;
    display: flex;
    color: white;
    font-family: 'Clash Display', sans-serif;
    font-size: 10px;
}

.last_bottom_text{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Clash Display', sans-serif;
    font-size: 5px;
}
.rectangle__down {
    display: flex;
    margin: 64px 0;
    width: 1170px;
    height: 45px;
    background: #3E3E3E;
    justify-content: center;
}
.container__photo
{
    margin: 10px 15px;
}