body {
    background: #121212;
    margin: 0 ;
    font-size: 14px;
    color: #ffffff;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0 ;
}
.container {
    padding: 0px 50px;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto ;
}
.container__second__one {
    justify-content: space-between;
    display: flex;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto ;
}

.intro{
    display: flex;
    width: 100%;
    height: 370px;
    margin-top: 75px;
    background:
            url("../images/thewikiintro_mobile_3.png")
            center no-repeat;
    background-size: cover;
    background-color: #571b55 ;
}
.findbuttom{
    width: 100%;
    height: 30px;
    margin: 0 ;
    margin-top: 72px;
    background:
            url("../images/foundingicon.png")
            center no-repeat;
    background-size: cover;
    border-radius: 3px;

}
.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.header__inner__first
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.nav{
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 12px;
}
.nav_link{
    align-items: center;
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 700;
    color: #f9a825;
    text-decoration: none;
    transition: color .2s linear;
}
.nav_link_left{
    align-items: center;
    display: inline-block;
    vertical-align: top;
    padding: 15px 15px 15px 0px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 700;
    color: #f9a825;
    text-decoration: none;
    transition: color .2s linear;
}
.nav_link:hover{
    color: #ffffff;
    opacity: 1;
}
.row>*{
    padding-left: 0;
}
.nav_login{
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 700;

    color: #ffffff;
    text-decoration: none;
    transition: color .2s linear;
}
.nav_link_right{
    display: inline-block;
    vertical-align: top;
    padding: 15px 0 15px 15px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    transition: color .2s linear;
}
.nav_login:hover {
    color: #f9a825;
    opacity: 1;
}
.nav_link_mobile{
    align-items: center;
    display: inline-block;
    vertical-align: top;
    padding: 15px 15px 15px 0;
    font-family: 'Satoshi', sans-serif;
    font-weight: 700;

    color: #f9a825;
    text-decoration: none;
    transition: color .2s linear;
}
.container__pictures
{
    width: 100%;
    max-width: 465px;
    margin: 0 auto ;
    justify-content: flex-start;
}
.aybolpicture
{
    display: flex;
    width: 70px;
    height: 400px;
    margin-top: 30px;
    margin-left: 132px;
    justify-content: center;

}
* {
    box-sizing: border-box;
}
.d-flex{
    margin-top: 65px;
}
.form-control{
    border: none;
    background-color: #3E3E3E;
    border-radius: 3px;
    color: white;
    outline: none;
    font-size: 17px;
    font-family: "Satoshi Variable", serif;
}
.btn-outline-success{
    color: #ffffff ;
    border-color: #777777;
    background-color: #777777;
    font-family: "Satoshi Variable", serif;
}
.container_obilki{
    justify-content: space-around;
    width:100%;
    padding: 0 15px 0 15px;
    flex-direction: row;
    display: flex;
    bottom: 0;
}
.container_obilki  img {
    width: 75px;
margin-top: 40px;
    margin-bottom: 20px;
    height: 75px;
}

.btn{
    border-radius: 3px;
    font-family: "Satoshi Variable";

}
.rectangle__inner
{
    display: flex;
    justify-content: space-between;
    border-radius: 3px;

}
.rectangle{
    margin: 64px 15px 0px  0px ;
    display: flex;
    width:330px;
    height:450px;
    background:#3E3E3E;
    justify-content: center;
    border-radius: 3px;

}
.rectangle__second {
    margin-top: 64px;
    display: flex;
    width:700px;
    height:auto;
    background: #777777;
    flex-direction: column;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    border-radius: 3px;

}
.features{
    display: flex;
    border-radius: 3px;


}
.features__items{
    width: 37%;
    height: 70%;
    text-align: center;
}
#change_picture_aybol{
    display: flex;
    width: 100%;
    height: 100%;
    background-size: auto;
    background:
            url("../images/notwalkstoitaybol1.png") center no-repeat;
}
#change_picture_aybol:hover
{
    background:url("../images/notwalkstoitaybol1_back.png")center no-repeat;
}
#change_picture_aybol:after
{
    background:url("../images/notwalkstoitaybol1.png")center no-repeat;
}
#change_picture_azamat{
    display: flex;
    width: 100%;
    height: 100%;

    background-size: auto;
    background:
            url("../images/NEWazamatnotwalk 1.png") center no-repeat;
}
#change_picture_azamat:hover
{
    background:url("../images/NEWazamatnotwalk_back.png")center no-repeat;
}
#change_picture_azamat:after
{
    background:url("../images/NEWazamatnotwalk 1.png")center no-repeat;
}
#change_picture_agzam{
    display: flex;
    width: 100%;
    height: 100%;

    background-size: auto;
    background:
            url("../images/NOTWALK 1.png") center no-repeat;
}
#change_picture_agzam:hover
{
    background:url("../images/NOTWALK_back.png")center no-repeat;
}
#change_picture_agzam:after
{
    background:url("../images/NOTWALK 1.png")center no-repeat;
}
#change_picture_stas {
    display: flex;
    width: 100%;
    height: 100%;

    background-size: auto;
    background: url("../images/Stas.png") center no-repeat;
}
#change_picture_stas:hover
{
    background:url("../images/stas_back.png")center no-repeat;
}
#change_picture_stas:after
{
    background:url("../images/Stas.png")center no-repeat;
}
.features__icon{
    padding: 50px 135px;
    font-size: 36px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 700;

}
.features__icon__second
{
    padding: 0 40px;
    font-size: 26px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
}
.bottom_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    width: 100%;
    height: 470px;
    background-color: #000000;
    background-size: auto;
    margin-top: 75px;

}

.intro__down{
    display: flex;
    width: 100%;
    height: 474px;
    background-size: auto;
    background-color: #000000;
}
.icon_bottom_text1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 7px solid white;

}
.bottom_logo{
    display: flex;
    justify-content: right;
}
.bottom_logo_size{
    width: 150px;
    height: 150px;
}
.text1__1{
    display: flex;
    color: white;
    font-size: 24px;
    font-family: 'Clash Display', sans-serif;
}
.text1__2{
    display: flex;

    color: white;
    font-family: 'Clash Display', sans-serif;
    font-size: 47px;
}
.social_media{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container__photo{
    margin-left: 25px;
}
.social_icons{
    display: flex;
    justify-content: space-between;
}
.text_bottom2{
    margin: 0px 0px;
    display: flex;
    color: white;
    font-family: 'Clash Display', sans-serif;
    font-size: 25px;
}
.last_bottom_text{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Clash Display', sans-serif;
    font-size: 11px;
}
.container__picture__logo{
    height: 30px;
}
.nav_link__pages{
    margin: -20px 25px;
    align-items: center;
    display: inline-block;
    padding: 15px;
    font-size: 24px;
    font-family: 'Satoshi', sans-serif;
    color: #777777;
    text-decoration: none;
    transition: color .2s linear;
}
.nav_link__pages:hover{
    color: #ffffff;
    opacity: 1;
}
.nav_link__pages__select{
    margin: -18px 25px;
    align-items: center;
    display: inline-block;
    padding: 15px;
    font-size: 24px;
    font-family: 'Satoshi', sans-serif;
    color: #ffffff;
    text-decoration: none;
    transition: color .2s linear;
}
.nav_link__pages__select:hover{
    color: #ffffff;
    opacity: 1;
}
.container__photo{
    margin-left: 25px;
}
.rectangle__down{
    display: flex;
    margin: 64px 0 ;
    width:100%;
    height:45px;
    background:#3E3E3E;
    justify-content: center;
    border-radius: 3px;
}
.pagination-lg .page-link{
    padding: 6px 40px;
}
.page-item.active .page-link{
    background-color: #777777;
    border-color: #777777;
}
.page-link{
    color: #ffffff;
    background-color: transparent;
    border-color: transparent;
    font-family: "Satoshi Variable";
}
.off__canvas{
    align-items: center;
    padding-top: 15px
}
.offcanvas{
    background-color: #121212 ;
}
.form-control{
    font-family: "Satoshi Variable";
}

.btn-close{
    background-image: url("../images/closepok.png");
    width: 1em;
    height: 1em;

}
.navbar-light .navbar-toggler-icon{
    background-image: url("../images/menubar.png")
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #f9a825;
    font-family: "Satoshi Variable";
    font-size: 20px;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .show>.nav-link {
    color: #ffffff;
    font-family: "Satoshi Variable";
    font-size: 20px;
}
#search_div{

}
@media only screen and (max-width: 1920px) {
    .off__canvas{
        display: none;
    }
    .nav_link_mobile{
        display: none;
    }
}
@media only screen and (max-width: 1200px){
    .nav {
        font-size: 19px;
    }
    .nav_link_mobile{
        display: none;
    }
    .container_obilki{
        padding: 40px;
    }
    .container_obilki  img {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
@media only screen and (max-width: 992px){
    .text_bottom2{
        font-size: 24px;
    }
    .last_bottom_text{
        font-size: 10px;
    }
    .text1__1{
        font-size: 18px;
    }
    .text1__2{
        font-size: 37px;
    }
    .bottom_logo_size{
        width: 110px;
        height: 110px;
    }
    .text_bottom2{
        font-size: 20px;
    }
    .last_bottom_text{
        font-size: 10px;
    }
    .rectangle{

        width:330px;
        height:360px;
    }

    .rectangle__second{
        width:700px;
        height:auto;
    }
    .features__icon{
        font-size: 29px;
    }
    .features__icon__second{
        font-size: 20px;
    }

    .container_obilki{
        padding: 15px;
    }
    .container_obilki  img {
        width: 50px;
        margin-top: 19px;
        margin-bottom: 25px;
        height: 50px;
    }
}
@media only screen and (max-width: 768px){
    .intro{
        height: 210px;

    }
    .nav_login{
        display: none;
    }
    .nav_link{
        display: none;
    }
    .features{
        display: none;
    }
    .off__canvas{
        display: initial;
    }
    #search_div{
        display: none;
    }
    .container {
        padding: 0px 15px;
        width: 100%;
        max-width: 1170px;
        margin: 0 auto ;
    }
    .nav_link_mobile {
        display: initial;
    }
    .rectangle___down{
        margin-top: 10px;
    }
    .bottom_logo_size{
        width: 70px;
        height: 70px;
    }
    .text_bottom2{
        font-size: 20px;
    }
    .last_bottom_text{
        font-size: 10px;
    }
    .text1__1{
        font-size: 11px;
    }
    .text1__2{
        font-size: 27px;
    }
    .bottom_logo_size{
        width: 70px;
        height: 70px;
    }
    .header__inner{
        flex-direction: column;
    }
    .rectangle{

        width:100%;
        height:360px;
        margin-top: 50px;
    }
    #change_picture_aybol{

    }
    .rectangle__second{
        width:100%;
        height:auto;
        margin-top: -5px;

    }
    .features__icon{
        font-size: 29px;
        padding: 35px;
    }
    .features__icon__second{
        font-size: 21px;
        padding: 0 20px;
    }
    .bottom_container{
        padding: 15px;
        height: 350px;
        margin-top: 50px;
    }
    .nav_link_left {
        display: none;
    }
    .nav_link_right {
        display: none;
    }
    .container_obilki{
        padding: 15px;
    }
    .container_obilki  img {
        width: 50px;
        margin-top: 8px;
        margin-bottom: 12px;
        height: 50px;
    }
}
@media only screen and (max-width: 480px){
    .intro{
        height: 170px;
    }
    .nav_login{
        display: none;
    }

    .nav_link{
        display: none;
    }
    .features{
        display: none;
    }
    .off__canvas{
        display: initial;}
    .container {
        padding: 0px 2px;
        width: 100%;
        max-width: 1170px;
        margin: 0 auto ;
    }
    .nav_link_mobile{
        display: initial;
        font-size: 15px;
        margin-top: 5px;
    }
    .text_bottom2{
        display: none
    }
    .container__photo{
        margin: 0 19px 0 19px;
    }
    .last_bottom_text{
        font-size: 5px;
    }
    .text1__1{
        font-size: 11px;
    }
    .text1__2{
        font-size: 18px;
    }
    .bottom_container{
        padding: 2px;
        height: 300px;
        margin-top: 50px;
    }
    .bottom_logo_size{
        width: 50px;
        height: 50px;
    }
    .bottom_logo_size{
        width: 100px;
        height: 100px;
    }
    .icon_bottom_text1{
        border-bottom: 2px solid #ffffff;
        justify-content:center ;
    }
    .bottom_text1{
        display: none;
    }

    .pagination-lg .page-link{
        padding: 6px 25px;
    }
    .features__icon{
        font-size: 26px;
        padding: 35px 15px;
    }
    .features__icon__second{
        font-size: 18px;
    }
    .container_obilki{
        padding: 7px;
    }
    .container_obilki  img {
        width: 50px;
        margin-top: 8px;
        margin-bottom: 12px;
        height: 50px;
    }
}
@media only screen and (max-width: 320px){}
